.jumbotron .container {
    padding: 50px 0;
}
.disText{
    display: none;
}
.alert {
    display: none;
}

h4{
    display: inline-block;
    margin: 0 15px;
}
a:hover{
    text-decoration: none;
}
.moodList{
    margin-top:50px;
}